
#friends_list{ /*Dans Friend.js*/
    display: flex;
    text-align: center;
    margin-bottom : 10px;
    border: none;
    font-weight: bold;
    font-size : 18px;
    margin:auto;
    margin-bottom: 10px;
    position : relative;
    right : 25px;
}


#friends_list_friends{ /*Dans Friend.js*/
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom : 10px;
    border: none;
    font-weight: bold;
    font-size : 18px;
    position : relative;
    right : 25px;
}


#friends_list:hover{
    color : rgb(0, 88, 0);
}