#body_profil{
    display: flex;
   /* background-color: pink;*/
    flex-direction: column;
    font-weight: bold;
}

#header_profil{
    display: flex;
    background-color: rgb(162, 223, 182);
    opacity: 0.85;
}

#logo_size{
    width: 100px;
    height: 100px;
}

#home_page_profil,#personne_profil,#pin_profil{
    width: 100px;
    height: 100px;
}



#profil_search_bar{
    display: flex;
   /* background-color: aquamarine;*/
    margin :auto;
}


#request { /*Dans SearchBar*/
    font-family: cursive, arial, sans-serif;
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 20px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

#request:focus {
    outline: none;
    border-bottom: 2px solid #5cb950;
}

#request_all{
    display: flex;
    margin-top: -20px;
    font-weight: bold;
    font-size: 18px;
}


#find_button{
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
}


#disconnect {
    display: flex;
  /*  background-color : red;*/
    text-align: center;
    margin-right: 5%;
}

#disconnect_profil{
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
}

#logout_logo{
    position :relative;
    top : 10%;
}

#main_profil{
    display: flex;
    padding: 1%;
 }

#friends_list_profil{
    width: 350px;
    background-color: lightcoral;
   /* background-color: lightgoldenrodyellow;*/
   border-right: 3px solid black;
   background-color: rgb(182, 225, 213);
   border-radius: 3%;
   opacity: 0.92;
}



#profile_picture_profil {
    width: 100%;
    height: 250px;
    margin-left : 50px;
    background-color: rgb(229, 250, 210);
    font-family: 'Roboto', sans-serif;
    border-bottom:  5px solid black;
    opacity: 0.9;
}

#profile_profil{
    display: flex;
    margin: auto;
    width: 175px;
    height: 175px;
    text-align: center;
    margin-top: 30px;
}

#profile1{
    width: 100%;
    height:50px;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#my_profile{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

#infos_profile_ff{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

#section_profil{
    display: block;
   
}

#messages_profil{
    padding-left: 30px;
    padding-top: 30px;
}


#friends_list_title_profil{
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    font-size : 25px;
    font-weight: bold; */


    
    display: flex;
    /*margin-left: 95px;*/
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    font-size : 25px;
    width: 60px;
    border-bottom: 5px solid black;
}

#followers_list_title_profil{
    display: flex;
    /*margin-left: 95px;*/
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    font-weight: bold;
    font-size : 25px;
    width: 110px;
    border-bottom: 5px solid black;
}


#friends_button_profil1{
    display:"flex";
    margin-top:10px;
    margin-left:20%
}

#friends_button_profil1:hover{
    border : 1px solid black;
    transform: scale(1.3);
    color: #fff;
    background-color: green;}

#followers_button_profil1{
    display:"flex";
    margin-top:10px;
    margin-left:20%
}

#followers_button_profil1:hover{
    border : 1px solid black;
    transform: scale(1.3);
    color: #fff;
    background-color: green;}


#edit_picture_profil{
    display:flex;
    margin : auto;
    font-weight: bold;
}
    
      


#edit_picture_profil:hover{
    border : 1px solid black;
    transform: scale(1.3);
    color: #fff;
    background-color: green;
}

#edit_picture_profil_div{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size : 25px;
    font-weight: bold;
}

#save_new_pic{
    display: flex;
    margin-left : 10px;
    font-weight: bold;
}

#save_new_pic:hover{
    color:white;
    background: green;
}

#cancel_new_pic{
    display: flex;
    margin-top: -22px;
    margin-left: 100px;
    font-weight: bold;
}

#cancel_new_pic:hover{
    color:white;
    background: red;
}